.wrapper{
    background-color: rgb(50, 50, 50);
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

h1{
    color: gray;
}

p{
    color: white;
}

ul{
    max-height: 50vh;
    overflow-y: auto;
}

li{
    cursor: pointer;
}

.done{
    position: relative;
    color: grey;
}

.done::after{
    content:"";
    height: 2px;
    background-color: grey;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.fa-trash{
    color: red;
    position: relative;
    z-index: 1;
    vertical-align: baseline;
    cursor: pointer;
}